@media (min-width: 768px) {
  .page-content {
    padding: 1.5rem;
  }

  .grid--2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid--3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .page-content {
    padding: 2rem;
  }
}